<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Medium</string>
		<string>Nunito-Regular</string>
		<string>Nunito-SemiBold</string>
		<string>Nunito-Light</string>
		<string>Nunito-ExtraLight</string>
		<string>Nunito-ExtraBold</string>
		<string>Nunito-Bold</string>
		<string>Nunito-Black</string>
	</array>
</dict>
</plist>
