*.orig
xcuserdata/
UserInterfaceState.xcuserstate/*

.DS_Store
*.xcworkspace/*
#*.xcscheme
xcschememanagement.plist
*.xcuserdatad
xcshareddata/*
xcuserdata/*

Podfile.lock
Pods/

### Xcode Patch ###
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

### SwiftPackageManager ###
Packages
xcuserdata
*.xcodepro

# Log files
*.log

.DS_Store

# Applications
*.app
*.exe
*.war
.DS_Store
MIO-lineika.xcodeproj/xcuserdata
MIO-lineika.xcworkspace/xcuserdata
